@using MSniperService.Models

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="author" content="Msx752">
    <meta name="description" content="Snipe 'Em All">
    @Styles.Render("~/Styles/global")
    @RenderSection("styles", required: false)
    @*@Styles.Render("~/Scripts/modernizr")*@

    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="144x144" href="~/assets/ico/queenadmin-favicon144x144.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="~/assets/ico/queenadmin-favicon114x114.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72" href="~/assets/ico/queenadmin-favicon72x72.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="57x57" href="~/assets/ico/queenadmin-favicon57x57.png">
    <link rel="shortcut icon" href="~/assets/ico/favicon.ico">

    <title>@ViewBag.Title</title>


</head>

<body class="fixed-top-active dashboard">

    <!-- WRAPPER -->
    <div class="wrapper">
        <!-- TOP NAV BAR -->
        <nav class="top-bar navbar-fixed-top" role="navigation">
            <div class="logo-area">
                <a href="queenadmin-1.2.html#" id="btn-nav-sidebar-minified" class="btn btn-link btn-nav-sidebar-minified pull-left"><i class="icon ion-arrow-swap"></i></a>
                <a class="btn btn-link btn-off-canvas pull-left"><i class="icon ion-navicon"></i></a>
                <div class="logo pull-left">
                    <a href="/">
                        <img src="~/assets/img/msniper-logo.png" alt="MSniper Logo" />
                    </a>
                </div>
            </div>
            <div class="top-bar-right">
                <div class="action-group hidden-xs hidden-sm">
                    <ul>
                        <li class="action-item general">
                            <div class="btn-group">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon ion-ios-bell-outline"></i><span class="count">0</span>
                                </a>
                                @*<ul class="dropdown-menu" role="menu">
                                    <li class="menu-item-header">You have 8 notifications</li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-chatbubble text-success"></i>
                                            <span class="text">New comment on the blog postNew com<br>New comment on the blog postNew com</span>
                                            <span class="timestamp text-muted">1 minute ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-person-add text-success"></i>
                                            <span class="text">New registered user</span>
                                            <span class="timestamp text-muted">12 minutes ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-chatbubble text-success"></i>
                                            <span class="text">New comment on the blog post</span>
                                            <span class="timestamp text-muted">18 minutes ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-ios-cart text-danger"></i>
                                            <span class="text">4 new sales order</span>
                                            <span class="timestamp text-muted">4 hours ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-edit yellow-font"></i>
                                            <span class="text">3 product reviews awaiting moderation</span>
                                            <span class="timestamp text-muted">1 day ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-chatbubble text-success"></i>
                                            <span class="text">New comment on the blog post</span>
                                            <span class="timestamp text-muted">3 days ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-chatbubble text-success"></i>
                                            <span class="text">New comment on the blog post</span>
                                            <span class="timestamp text-muted">Oct 15</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-alert-circled text-danger"></i>
                                            <span class="text text-danger">Low disk space!</span>
                                            <span class="timestamp text-muted">Oct 11</span>
                                        </a>
                                    </li>
                                    <li class="menu-item-footer">
                                        <a href="#">View All Notifications</a>
                                    </li>
                                </ul>*@
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @RenderBody()

    </div>
    <!-- END COLUMN RIGHT -->
    <!-- END WRAPPER -->
    <footer class="footer">
        <div class="container content-footer">
            <div style="text-align: center;">
                <span>
                    site has been made specifically for the <a href="https://github.com/Necrobot-Private/NecroBot" target="_blank">Necrobot2</a>
                    by <a href="https://github.com/msx752/" target="_blank">Msx752</a> & <a href="https://github.com/Necrobot-Private/" target="_blank">Team Necrobot2</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Javascript -->
    @Scripts.Render("~/Scripts/global")
    @RenderSection("scripts", required: false)

    <script>
        //mobile fix
        (function () {
            'use strict';

            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement('style');
                msViewportStyle.appendChild(
                    document.createTextNode(
                        '@@-ms-viewport{width:auto!important}'
                    )
                );
                document.head.appendChild(msViewportStyle);
            }

        })();
    </script>

    @if (!Request.IsLocal)
    {
        <script src="~/Scripts/ga.js"></script>
    }
</body>
</html>
