@using System.Globalization
@*@model List<MSniperService.Models.EncounterInfo>*@
@section styles{
    @Styles.Render("~/Styles/snipe")
}
@section scripts{
    @Scripts.Render("~/Scripts/snipe")
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
}

<div class="row">
    <section class="content">
        <div class="col-md-10">
            <div id="cards" class="table table-filter">
                @*foreach (var pokemon in Model)
                {
                    <div class="pokemon-card col-xs-12 col-lg-3" data-status="@pokemon.PokemonName.ToLower()">
                        <div class="left-box col-xs-5 col-lg-3">
                            <img src="~/Pkmn/@{@pokemon.PokemonName.ToLower();}.png" class="media-photo" alt="">
                            <span class="pokemo-iv">
                                (@pokemon.Iv.ToString("##.##", CultureInfo.InvariantCulture))
                            </span>
                            @{
                                long expiration = pokemon.Expiration;
                            }
                            <span class="pokemon-expire pull-left" id="tilltime" expiration="@expiration">
                                Loading.
                            </span>
                            <a href="@pokemon.GetLink1()" class="linkmsniper" style="display: none; position: absolute"></a>
                        </div>
                        <div class="right-box pokemon-info col-xs-7 col-lg-7">
                            <h4 class="title">
                                (@pokemon.PokemonName.ToString())
                            </h4>
                            <span class="move"><b>M1:</b>ThunderShockFast</span>
                            <br />
                            <span class="move"><b>M2:</b>ThunderShockFast</span>
                        </div>
                        <div class="col-lg-12">
                            <div class="pull-right">
                                <a href="@pokemon.GetLink1()" onclick="RemoveSelf();" class="btn btn-secondary btn-sm pull-left">msniper</a>
                                <a href="@pokemon.GetLink2()" onclick="RemoveSelf();" class="btn btn-secondary btn-sm pull-right">pokesniper2</a>
                            </div>
                        </div>
                    </div>
                   }*@
            </div>
        </div>
        <div class="col-lg-2" id="sidebar">
            <ul id="filterlist" class="list-group">
                <li id="hunters" class="list-group-item">
                    <label>Hunters</label>
                    <span id="totalvisitor" class="tag tag-default tag-pill pull-xs-right">0</span>
                </li>
                <li id="feeders" class="list-group-item">
                    <label>Feeders</label>
                    <span id="totalfeeder" class="tag tag-default tag-pill pull-xs-right">0</span>
                </li>
                <li id="all" class="list-group-item">
                    <a class="url" onclick="sideBarFilter();">Pokemons</a>
                    <span id="totalspawns" class="tag tag-default tag-pill pull-xs-right">0</span>
                </li>
            </ul>
        </div>
    </section>

</div>
